html {
	margin: 0 auto;
	padding: 0px;
	background: linear-gradient(45deg, #333333 15%, #436786 85%);
	/*background-color: #182162;*/
	font-family: Lato, "noto sane", "sans serif";
	font-size: 1em;
}

body {
	padding: 0px 20px;
	max-width: 75em;
	margin: 0 auto;
}

.header-holder {
	/*background-color: #910814;*/
	background: linear-gradient(225deg, #910814 15%, #b12834 85%);
	color: white;
	padding: 20px 20px;
}

header h1 {
	margin: 0;
	font-size: 250%
}

header img {
	height: 70px;
	vertical-align: middle;
}

header h1 a {
	color: white;
	text-decoration: none;
}

main {
	padding: 1.6em;
	background-color: white;
	/*min-height: 600px;*/
	border-radius: 0 0 10px 10px;
}

main {
	font-size: 130%;
}

p, footer ul{
	font-size: 120%;
}

footer {
	color: #d3d3d3;
}

footer div.fbox {
	display: flex;
	flex-direction: row;
}

footer a {
	color: white;
	text-decoration: none;
}

footer div.item {
	padding: 20px;
	flex-basis: 12em;
}

footer div#about {
	flex-grow: 1;
}

footer div#team {
	flex-grow: 1;
}

footer div#team ul li {
	margin: .5em 0 .5em 0;
}

footer p#copyright {
	font-size: .8em;
}

div#index-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

div.index-box {
	flex-grow: 1;
	flex-basis: 12em;
}

table.weekly-schedule {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #d3d3d3;
}

table.weekly-schedule td, table.weekly-schedule th {
	text-align: center;
	padding: 10px;
}

table.weekly-schedule td.open {
	background-color: #00dd00;
	cursor: pointer;
}

table.weekly-schedule td.closed, table.weekly-schedule td.filled {
	background-color: #cccccc;
	cursor: default;
}

table.weekly-schedule td.open:hover {
	background-color: green;
	color: white;
}

table.weekly-schedule th {
	cursor: default;
}

div.input-box {
	margin: 10px;
	border: 1px solid black;
	padding: 10px 30px 30px 50px;
	box-shadow: 5px 5px 20px 1px #888888;
	border-radius: 10px;
}

input[type=text] {
	font-size: 1em;
}

.ui-selectmenu-button {
	max-width: 150px;
}

.ui-menu-item, .ui-menu, .ui-menu-item-wrapper {
	width: 100%;
}

#create-box form table {
	margin-bottom: 20px;
}

#create-box form table tr td {
	padding: 5px;
}
