@import "./common";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/elevation/mdc-elevation";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";
@import "@material/dialog/mdc-dialog";


.header {
  text-align: center;
}

.header svg {
	margin-top: 20px;
}

.shrine-logo {
  width: 150px;
  height: 150px;
  padding-top: 80px;
  fill: currentColor;
}

.start-date,
.end-date,
.start-time,
.end-time,
.name,
.schedule-id,
.secret-code {
  display: block;
  width: 100%;
  margin: 20px 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

.index-item {
	width: 400px;
	padding: 40px;
	margin: 20px;
}

.index-container {
	margin: 20px auto;
	display: flex;
	justify-content: center;
}

#duration,
#duration-list,
#duration-list ul.mdc-list {
	width: 200px;
}
