<h1 id="main-heading">Administrative controls</h1>

<div id="card-container">
  <mat-card>
    <mat-card-title>Retrieve schedules</mat-card-title>
    <mat-card-subtitle>Retrieve schedules made in the past N hours</mat-card-subtitle>
    <mat-card-content>
      <form name="retrieveSchedulesForm" (ngSubmit)="onRetrieveSubmit()" #retrieveSchedulesForm="ngForm">
        
        <mat-form-field [hideRequiredMarker]="true">
          <input matInput type="number" placeholder="Age (hours)" name="retrieveAge" [(ngModel)]="retModel.age" required id="retrieve-age-input" #retrieveAgeInput="ngModel">
          <mat-error *ngIf="retrieveAgeInput.hasError('required')">
              Age is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        
        <br>
        
        <mat-form-field [hideRequiredMarker]="true">
          <input matInput type="password" placeholder="Admin Password" name="retrievePassword" [(ngModel)]="retModel.password" required id="retrieve-password-input" #retrievePasswordInput="ngModel">
          <mat-error *ngIf="retrievePasswordInput.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        
        <br>
        
        <button mat-raised-button color="primary" type="submit" [disabled]="!retrieveSchedulesForm.form.valid || (retrieveSubmitted && !retrieveFinished)">RETRIEVE SCHEDULES</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Delete schedules</mat-card-title>
    <mat-card-subtitle>Delete schedules older than N days old from the system</mat-card-subtitle>
    <mat-card-content>
      <form name="deleteSchedulesForm" (ngSubmit)="onDeleteSubmit()" #deleteSchedulesForm="ngForm">
        
        <mat-form-field [hideRequiredMarker]="true">
          <input matInput type="number" placeholder="Age (days)" name="deleteAge" [(ngModel)]="delModel.age" required id="delete-age-input" #deleteAgeInput="ngModel">
          <mat-error *ngIf="deleteAgeInput.hasError('required')">
            Age is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        
        <br>
        
        <mat-form-field [hideRequiredMarker]="true">
          <input matInput type="password" placeholder="Admin Password" name="deletePassword" [(ngModel)]="delModel.password" required id="delete-password-input" #deletePasswordInput="ngModel">
          <mat-error *ngIf="deletePasswordInput.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        
        <br>
        
        <button mat-raised-button color="primary" type="submit" [disabled]="!deleteSchedulesForm.form.valid || (deleteSubmitted && !deleteFinished)">DELETE SCHEDULES</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="content-container" *ngIf="retrieveSubmitted || deleteSubmitted">
  <div class="mat-elevation-z5 raised content">
    <h1 *ngIf="numDeleted">Successfully deleted {{numDeleted}} schedules.</h1>
    {{deleteSubmitted}}
    <p>lkjfsadlkjaldskfjalkdfjalsdkfj</p>

  </div>
</div>
