<div class="card-holder">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>Joseph Petitti</mat-card-title>
      <mat-card-subtitle>Team Lead</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/joseph-petitti-portrait.jpg" alt="A photo of Joseph Petitti">
    <mat-card-content>
      <p>
      Joseph Petitti is the fearless leader of Team Algol. He wrote the entire front-end (the
      website you're looking at now) in TypeScript for Google's Angular framework, set up much of
      the AWS back-end, designed and deployed the API, and spent far too many late nights debugging
      and testing.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://josephpetitti.com" target="_blank">WEBSITE</a>
      <a mat-button href="https://github.com/jojonium" target="_blank">GITHUB</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>Justin Cheng</mat-card-title>
      <mat-card-subtitle>Database Master</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/justin-cheng-portrait.jpg" alt="A photo of Justin Cheng">
    <mat-card-content>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://justcheng.com/" target="_blank">WEBSITE</a>
      <a mat-button href="https://github.com/jchengz" target="_blank">GITHUB</a>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>Matthew Hagan</mat-card-title>
      <mat-card-subtitle>Lambda Lord</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/matthew-hagan-portrait.jpg" alt="A photo of Matthew Hagan">
    <mat-card-content>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="http://doublediamond.io/" target="_blank">WEBSITE</a>
      <a mat-button href="https://github.com/subbassbro" target="_blank">GITHUB</a>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>Andrew Levy</mat-card-title>
      <mat-card-subtitle>Lambda Lord</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/andrew-levy-portrait.jpg" alt="A photo of Andrew Levy">
    <mat-card-content>
      <p>
      Andrew Levy designed the Algol team logo, as well as some of the HTML of the early project. He
      kept us on track by writing weekly progress reports. He also wrote, tested, and debugged many
      of the lambda functions. Andy also has hamsters.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="http://andrewlevy395.github.io/" target="_blank">WEBSITE</a>
      <a mat-button href="https://github.com/AndrewLevy395" target="_blank">GITHUB</a>
    </mat-card-actions>
  </mat-card>
</div>
