<div class="mat-elevation-z5 form-container raised" id="view-schedule-form">
  <h2>View schedule</h2>
  
  <form name="viewScheduleForm" (ngSubmit)="onSubmit()" #viewScheduleForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field [hideRequiredMarker]="true">
      <input matInput placeholder="Schedule ID" name="id" [(ngModel)]="model.id" minlength="6" maxlength="6" required id="id-input" #idInput="ngModel">
      <mat-error *ngIf="idInput.hasError('minlength') && !idInput.hasError('required')">
        Schedule IDs are exactly <strong>6</strong> characters long
      </mat-error>
      <mat-error *ngIf="idInput.hasError('required')">
        Schedule ID is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="!viewScheduleForm.form.valid || submitted">VIEW SCHEDULE</button>
    </div>
  </form>

</div>
