<h1 mat-dialog-title>{{header}}</h1>

<form>
  <div mat-dialog-content>
    <p *ngIf="!finished">To request a meeting on {{data.dateString}} at {{data.timeString}}, please enter your name below:</p>
    <mat-form-field class="full-width" *ngIf="!finished">
      <input matInput [(ngModel)]="data.requester" name="requester" cdkFocusInitial>
    </mat-form-field>
    
    <p *ngIf="finished">{{message}}</p>
    
    <h2 *ngIf="finished">{{secretCode}}</h2>
    
    <p *ngIf="finished">{{message2}}</p>
    
  </div>
  <div mat-dialog-actions style="display: flex; justify-content: flex-end; margin: 0">
    <mat-progress-spinner diameter="60" mode="indeterminate" *ngIf="submitted && !finished"></mat-progress-spinner>
    <button mat-raised-button type="button" (click)="closeCreateMeetingDialog()" style="margin: 0 5px 0 10px;">{{closeButton}}</button>
    <button mat-raised-button *ngIf="!finished" type="submit" (click)="requestMeeting(data)" color="primary" style="margin-left: 5px;" [disabled]="submitted">SUBMIT</button>
  </div>
</form>

<style>
.full-width {
  width: 100%;
}
</style>
