<div class="mat-elevation-z5 raised" id="schedule-view-container">
  <div class="spinner-container">
    <mat-progress-spinner *ngIf="!week" mode="indeterminate"></mat-progress-spinner>
  </div>

  <div *ngIf="!errorMessage">
    <h2 *ngIf="week">{{week.name}}</h2>

    <p *ngIf="week">Click on an open time slot to schedule a meeting</p>
    
    <mat-grid-list *ngIf="week" [cols]="numDays + 1" rowHeight="100px">
      <mat-grid-tile
          *ngFor="let tile of tiles; let i = index"
          [attr.data-index]="i"
          (click)="timeSlotClick(tile.text, i)"
          [ngClass]="tile.class">
        {{tile.text}}
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <div *ngIf="errorMessage">
    <h2>{{errorMessage}}</h2>
  </div>
  
</div>

<div class="button-container" *ngIf="week && !errorMessage">
  <button mat-raised-button type="button" (click)="goToPreviousWeek()">
    <i class="material-icons">navigate_before</i>
    PREVIOUS WEEK
  </button>
  
  <button mat-raised-button type="button" (click)="goToNextWeek()">
    NEXT WEEK
    <i class="material-icons">navigate_next</i>
  </button>
</div>
