div#schedule-view-container {
  width: 800px;
  margin: 20px;
  border-radius: 5px;
  padding: 40px;
}

div.spinner-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

mat-grid-tile {
  text-align: center;
  line-height: 150%;
}

mat-grid-tile.date-header, mat-grid-tile.time-header {
  background-color: #4c4c4c;
}

mat-grid-tile.date-header.first-dh {
  border-top-left-radius: 10px;
}

mat-grid-tile.date-header.last-dh {
  border-top-right-radius: 10px;
}

mat-grid-tile.time-header.first-th {
  border-top-left-radius: 10px;
}

mat-grid-tile.time-header.last-th {
  border-bottom-left-radius: 10px;
}

mat-grid-tile.open {
  background-color: #007605;
  cursor: pointer;
}

mat-grid-tile.open:hover {
  background-color: #108615;
}

mat-grid-tile.closed {
  background-color: #454545;
}

div.button-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

div.options {
  height: 500px;
  padding: 20px;
}
